In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [9]:
s = df['Name'][0:10]

In [10]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [7]:
len(s)

891

In [8]:
type(s)

pandas.core.series.Series

In [11]:
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [15]:
s1 = pd.Series(list(s),index = l)

In [13]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [16]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [24]:
s[0]

'Braund, Mr. Owen Harris'

In [31]:
s4 = pd.Series([3,4,5,6,6], index = [2,4,5,6,1])

In [32]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [33]:
s5 = pd.Series([34,455,532,622,61], index = [9,4,5,6,7])

In [35]:
s6 = pd.concat([s4, s5])

In [36]:
s6

2      3
4      4
5      5
6      6
1      6
9     34
4    455
5    532
6    622
7     61
dtype: int64

In [37]:
s6[4]

4      4
4    455
dtype: int64

In [38]:
s6[0:5]

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [39]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [40]:
s5

9     34
4    455
5    532
6    622
7     61
dtype: int64

In [41]:
s4 * s5

1       NaN
2       NaN
4    1820.0
5    2660.0
6    3732.0
7       NaN
9       NaN
dtype: float64

In [42]:
s4 + s5

1      NaN
2      NaN
4    459.0
5    537.0
6    628.0
7      NaN
9      NaN
dtype: float64